<h1>Input karyawan baru</h1>

<% if (typeof pesanError !== 'undefined') { %>
    <span style="color: red;">
        <%= pesanError[0].path +': '+ pesanError[0].msg +' '+ pesanError[0].value %>
    </span>
    <br><br>
<% } %>

<form action="/karyawan/proses-insert-data" method="post">

    <label for="">Nomor induk karyawan</label>
    <input type="text" name="form_nik">
    <br><br>

    <label for="">Nama lengkap</label>
    <input type="text" name="form_nama">
    <br><br>

    <label for="">Tanggal lahir</label>
    <input type="date" name="form_tanggal_lahir">
    <br><br>

    <label for="">Alamat rumah</label><br>
    <textarea name="form_alamat" rows="5" cols="50"></textarea>
    <br><br>

    <label for="">Jabatan</label><br>
    <select name="form_jabatan">
        <option value="" selected>-- pilih --</option>
        <% for (const i in jabatan) { %>
            <option value="<%= jabatan[i].id %>"><%= jabatan[i].nama %></option>
        <% } %>
    </select>
    <br><br>

    <label for="">Agama</label><br>
    <select name="form_agama">
        <option value="" selected>-- pilih --</option>
        <% for (const i in agama) { %>
            <option value="<%= agama[i].id %>"><%= agama[i].nama %></option>
        <% } %>
    </select>
    <br><br>


    <button type="submit">simpan</button>
    
</form>