<h1>Detail Karyawan</h1>
<ul>
    <li>Nama: <%= satukaryawan[0].nama %></li>
    <li>NIK: <%= satukaryawan[0].nik %></li>
    <li>Tanggal Lahir: <%= satukaryawan[0].tanggal_lahir %></li>
    <li>Alamat: <%= satukaryawan[0].alamat %></li>
    <li>Jabatan: <%= satukaryawan[0].jabatan_nama %> (<%= satukaryawan[0].jabatan_singkatan %>)</li>
    <li>Agama: <%= satukaryawan[0].agama_nama %></li>
</ul>

<!-- <pre>
    <%= JSON.stringify(satukaryawan , null , 4) %>
</pre> -->